:root {
  --background: #000;
  --bar-background: #fff;
  --numbers-button-color: #E82968;
  --numbers-border-button-color: rgba(232, 41, 104, 0.5);
  --operations-button-color: #008000;
  --operations-border-button-color: #39E630;
}
body {
    background-color: var(--background);
}
.calculator {
    margin: 100px auto;
    width: 300px;
    background-color: red;
}
.bar {
    width: 100%;
    height: 40px;
    background-color: green;
}
.view {
    background-color: var(--bar-background);
    font-size: 40px;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.flex button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 25px;
}
.numbers {
    width: 200px;
}
.numbers button {
    background-color: var(--numbers-button-color);
    border-color: var(--numbers-border-button-color);
}
.numbers button:hover {
    border-color: 4px solid black;
}
.operations {
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.operations button {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--operations-button-color);
    border-color: var(--operations-border-button-color);
}
.operations button:hover {
    border: 4px solid black;
}
